root {display: block;}
html, body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td ,img,textarea{border: 0px;margin: 0px;outline: 0px;padding: 0px;}
fieldset, img { border: 0; }
img { display:inline-block; }
:focus { outline: 0; }
li {display: list-item;text-align: -webkit-match-parent;}
em, i, u {font-style: normal;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; font-family:"Microsoft YaHei" }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size:100%; }
input, button, textarea, select { *font-size: 100%;font-family:"Microsoft YaHei";-webkit-appearance:none;}
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0;}
caption, th { text-align: left; }
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a{ color: #333; text-decoration: none}
a:hover{ color:#0cca1d; text-decoration: none}
div {display: block;}
body,html
{
  padding-bottom: 0;
  background-color: #f0f0f0;
  font-family:"Microsoft YaHei", Osaka, Arial, Sans-serif;
  font-size:12px;
  color: #000000;
  line-height: 1.5;
   height:100%;
   overflow:hidden;
	position: fixed;
	width: 100%;
}
img {   
     object-fit: cover;   
} 
.row{margin-right:0px; margin-left: 0px;}
.margin-top{ margin-top:10px}
.r_f{ float:right}
.l_f{ float:left}
.mleft{ margin-left:10px;}
.relative{position: relative}
.margin{ margin:15px;}
.inherit{position: inherit!important}
.align{text-align: center}
.align_left{text-align: left}
.border{ border:1px solid #ddd; padding:10px; height:60px; line-height:36px; margin-bottom:20px; }
.border span{ display:block; height:100%;}
.alert{ margin-top:20px;}
.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}
.none{display: none}
.border_top1{ border-top:1px solid #dddddd}
.padding5{padding: 1rem}
.pl1{ padding-left: 1rem;}
.plf5{padding: 0 0.5rem}
.background-w{  background-color: #ffffff;}
.mb1{ margin-bottom: 1rem}
.mb2{ margin-bottom: 2rem}
.mb3{ margin-bottom: 3rem}
.mt1{ margin-top: 1rem}
.mt2{ margin-top: 2rem}
.mt3{ margin-top: 3rem}
.mtb1{margin: 1rem 0}
.mtb2{margin: 2rem 0}
.mtb3{margin: 3rem 0}
.ptb1{padding:1rem 0}
.pzy1{padding:0 1rem}
.color1{color: #0cca1d}
.line2{line-height: 2rem}
.line3{line-height: 3rem}
.font-size26{font-size: 26px}
.font-size36{font-size: 36px}
.font-size10{font-size: 10rem}
.btn:hover, .btn:focus{ color: #ffffff;}
.width35{width: 35%}
.noscroll,
.noscroll body {
    overflow: hidden;
}
.noscroll body {
    position: relative;
}
::-webkit-input-placeholder {

   color:#333333;

}
:-moz-placeholder {/* Firefox 18- */

  color:#333333;
}

::-moz-placeholder{/* Firefox 19+ */

    color:#333333;

}

:-ms-input-placeholder {

  color:#333333;

}
.pages_style{-webkit-overflow-scrolling: touch;}
table .price .amount,
table tr td  b{font-weight: normal; padding-left:2px;}


/************************************top common style*****************************************/
.Cerfloor{ position: absolute; z-index: 1111; top:0px; width: 100%; height: 100%; left: 0px;}
.message-name{ text-align: center;font-size:24px; color: rgba(183,183,183,1.00); position: relative; top:45%}
.prompt_name{
	-moz-box-sizing: border-box; /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
	position: fixed;
	z-index: 11111; 
    width: 100%;
	padding: 2rem;
	bottom: -150px;
	 
}
.prompt_name b{
	background: #ffffff; 
	border-radius: 3px; 
	text-align: center;
	padding: 1rem; 
	font-weight: normal;
	display: block;
	font-size: 14px;
	color: rgba(220,67,69,1.00)
}
.herder-style{position: fixed; top:0px; width: 100%; z-index:19}
.herder-style .cart-mark{width: 10px; display: none;height: 10px; border-radius: 50%; position: absolute; z-index: 111; top:3px; left:-2px; background: #0cca1d}
.herder-style li.active .cart-mark{ background: #ffffff}
.herder-style .herder-top{ height:50px; background: #e5e4ec; padding: 0.5rem;}
.herder-style .herder-top .title_name{float: left; overflow: hidden; height: 40px; width:65%; line-height: 40px; overflow: hidden; font-size:1.3rem;word-wrap: break-word; 
word-break: normal; }
.herder-style .herder-top .title_name.home_index{width: 75%}
.herder-style .Language-style{ 
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1; 
	height: 40px; 
	position: relative;
	float: left;
	width:70%;
}
.herder-style .operating-style{
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; 
	text-align: right;
	line-height: 40px;
	width: 30%;
	float: right;
	
}
.herder-style .herder-top .return,
.herder-style .herder-top .herder-logo{float: left; width:10%; text-align: center; height: 40px; line-height: 40px;}
.herder-style .operating-style i{font-size: 2.5rem}
.herder-style .Language-style  .jiantou{ position: absolute; top:0px; right: 5px; font-size: 2rem}
.herder-style .Language-style .name .iconfont{font-size:2.5rem; margin-top: -5px; display: block}
.herder-style .Language-style .name{
	width:55px; 
	text-align: center; 
	display: block;
	float: right;
	/*margin-right: 20px;*/
}
.herder-style .Language-style .name b{
	font-size:100%; 
	display: block; 
	font-weight: 400; 
	margin-top: -12px;	
	-webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.80);
	padding: 0 0.5rem
}
.herder-style .herder-top .herder-operating{	
	float: left; 
	width: 25%;    
	display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
}
.herder-style .herder-menu{background: #f0f0f0; border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd;  }
.herder-style .herder-menu ul{
	width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
    align-content: center;
}
.herder-style .herder-menu ul li{
	color: #5D656B;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	position: relative;
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 13px;
	
}
.herder-style .herder-menu ul li a{ display: block; line-height:2.1rem;font-size: 13px; }
.herder-style .herder-menu ul li.active{ background:#0cca1d }
.herder-style .herder-menu ul .active i,
.herder-style .herder-menu ul .active .name{color: #ffffff}
.herder-style .herder-menu ul .active:before,
.herder-style .herder-menu ul .active:after{ content:'';border:0px}
.herder-style .herder-menu ul li i{font-size:26px; position: relative; top:6px;}
.herder-style .herder-menu ul li .name{ display: block; }
.herder-style .herder-menu ul li:before{content:'' ;border-right: 1px solid #ffffff; position: absolute; right: -2px; height:80%;top:10%}
.herder-style .herder-menu ul li:after{content:'' ;border-right: 1px solid #c3c3c3; position: absolute; right: -1px; height:80%;top:10%}
.herder-style .herder-menu ul li:last-of-type{ border-right:0px;}
.herder-style .herder-menu ul li:last-of-type:before,
.herder-style .herder-menu ul li:last-of-type:after{border-right:0px;}
.share_close{position: absolute; right: 20px; color: #ffffff; top:10px; font-size: 22px; z-index: 111;}
.switch_btn{ width: 15px; background: #8c8c8c; position: fixed;  color: #ffffff; text-align: center;}
.disabledColor{color:#bbbbbb;}
/*******************************************/
.herder-style .dropdown{position: inherit}
#Language{display: block; position: relative}
#caozuo:hover{ color: #000000; text-decoration: none}
#caozuo{font-size: 22px;display: block; position: relative}
.herder-style .dropdown-menu>li>a{color: #ffffff; padding:10px 5px 10px 40px;font-size: 16px; text-align: left; display: block; position: relative; border-bottom: 1px solid #666666}
.herder-style .dropdown-menu>li:last-of-type a{ border-bottom: 0px;}
.herder-style .dropdown-menu>li i{ display: block; left:5px; position: absolute; color: #ffffff;}
.herder-style .dropdown-menu{ min-width: 100px; background: #333333; left:auto; right:0px; top:50px;}
.herder-style .dropdown-menu:before{
		position: absolute;
		top: -10px;
		right: 5px;
		content: "";    
		width:0;
		height:0;   
		border-left:10px solid transparent;   
		border-right:10px solid transparent;   
		border-bottom:10px solid #333333;
}
/*******Language style*****/
.herder-style .Language-style.open{ background: #6e6e6e; height:50px; margin-top:-5px; color: #ffffff} 
.herder-style .Language-style.open a{ color: #FFFFFF}
.herder-style .Language-style .yc,
.herder-style .Language-style.open .zk{display: none}
.herder-style .Language-style.open .yc,
.herder-style .Language-style .zk{display: block}
.herder-style .Language-style.open .name,
.herder-style .Language-style.open .jiantou{ margin-top: 5px;}
.herder-style .Language-style.open .dropdown-menu{
	width: 100%; 
	height: 100%; 
	z-index:1111; 
	top:48px; 
	border: 0px; 
	min-width:100%; 
	left: 0px; 
	background: rgba(0,0,0,0.54); 
	border-radius: 0px;;
	position: absolute;
	
}
.herder-style .Language-style.open .dropdown-menu:before{display: none}
.herder-style .Language-style.open .language_list{ background: #ffffff; border-radius: 3px; padding: 1rem;  text-align:center;  width: 80%; margin: 0 auto}
.herder-style .Language-style.open .language_list li{ position: relative; border-bottom: 1px solid #dddddd; padding: 1rem 0;font-size: 16px}
.herder-style .Language-style.open .language_list li a{position: relative; color: #333333}
.herder-style .Language-style.open .language_list li i{color:#0cca1d; position: absolute; left:-25px;}
/*****************************Menu column style properties********************************/
.switch_btn{
	opacity: 0.8;    
	border-radius: 0px 5px 5px 0px; 
	width:35px; 
	background:#8c8c8c;
	line-height: 16px;
	position: fixed; 
	padding: 1rem;  
	font-size:14px;
	color: #ffffff; 
	left: 0;
	text-align: center; 
	bottom:30%;
	z-index:114; 
	word-break:break-all;
	
}
.container{min-width: 320PX;max-width: 640PX;margin: 0 auto;padding: 0px;overflow-y: scroll; }
.column-style{ position: fixed;z-index:111; height: 100%; background:#8c8c8c; width:0;float: left; top:0; overflow-y: scroll}
.slideout-open .column-style{display: block}
.column-style .column-list{-webkit-overflow-scrolling: touch;}
#column-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#column-style::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#column-style::-webkit-scrollbar-thumb
{
	background-color: #333333;
}


.column-style .column-list .column-level{ position: relative; border-bottom: 1px solid #dddddd; text-align: center; font-size: 1.2rem; overflow: hidden}
.column-style .column-list .column-level:before{content: ""; width: 100%; left: 0px; position: absolute; bottom: 0px; height: 1px; box-shadow: 0px 0px 6px #333333}
.product-style{  width: 100%;  background: #ffffff; float: left; overflow-y: auto;-webkit-overflow-scrolling: touch;}
.column-style .column-list .column-Lower .active { margin: 0; background: #ffffff; color: #333333; border-left: 3px solid #B17F21!important ;border-right: 3px solid #B17F21!important}
.column-style .column-list .column-level a{color: #ffffff;font-size: 13px}
.column-style .column-list .column-Lower .active a{color: rgba(6,6,6,1.00)}
.column-style .column-list .column-Lower li{ padding: 0.8rem 0; border-bottom: 1px dashed #dddddd; margin: 0 0.5rem}
.column-style .column-list .column-Lower li:last-of-type{border: 0px;}
.column-style .column-list .column-title{font-size:16px; font-weight: bold;display: block;padding:1rem 0.5rem; border-bottom: 1px solid #dddddd; margin: 0 0.5rem}
/***********************checkbox radio style********************************/
.radio, .checkbox{ margin-left: 0px; padding-left:0px}
.checkbox input[type="checkbox"], 
.radio input[type="radio"] { display: none!important;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box;padding: 0;}
.checkbox .iconfont, .radio .iconfont {width: 3em;font-size: 2em;}
.radio input[type="radio"]:checked + i:before {content: "\e67b";}
.checkbox input[type="checkbox"]:checked + i:before, .radio input[type="radio"]:checked + i:before {content: "\e67b";color: #0cca1d;}
.radio input[type="radio"] + i:before {content: "\e67b";}
.checkbox input[type="checkbox"] + i:before, .radio input[type="radio"] + i:before {
    content: "\e650";
    position: relative;
    bottom: -4px;
    margin-right: 5px;
    color: #0cca1d;
}
.no_data{ text-align: center; font-size:20px; font-weight: bold;line-height: 2.5rem; color: #BBBBBB; margin-top: 45%;}
/*****************button style*****************/
.button-operation{ text-align: center}
.button-operation.btn-one a{ margin-left: auto; margin-right: auto; float: none}
.button-operation a{ display: block; width: 42%; margin: 0 auto; margin-left: 3%; margin-right: 3%; height: 45px; line-height:50px; float: left; border: 0px; padding: 0px }

.btn-confirm{ 
	background:#0cca1d; 
	color: #ffffff; 
	font-size: 20px; 
	border-radius: 35px;	
}
.btn-close{background: #A7A7A7;	color: #ffffff; font-size: 20px; border-radius: 35px;}
/*********************************table style**********************************/
 .cart-prompt{ background: #ffffff;  border: 1px solid #dddddd;font-size:16px; text-align: center; border-radius: 3px; padding: 1rem;font-weight: bold;color:rgba(244,95,97,1.00); margin: 1rem}
.cart-style{ margin: 1rem; background: #ffffff; border-radius: 3px; border: 1px solid #dddddd; padding:0 0.5rem}

.cart-list .Quantity{ position: inherit}
.cart-list .Quantity button{width: 29px}
.cart-list tr,
.order-list tr{height: 60px; border-bottom: 1px solid #dddddd; margin:0.5rem}
.cart-list tr:last-of-type,
.order-list tr:last-of-type{ border-bottom: 0px}
.cart-list tr .price{font-size: 13px}
.cart-list tr td .name,
.order-list tr td .name{ 
	font-size: 13px;    
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}
.table{ margin-bottom: 0px;}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{ border-top: 0px;vertical-align:middle; padding:5px;}
.order-list tr td{font-size: 13px; text-align: left}
.order-list tr td .Subtotal{ color: #0cca1d; font-size: 12px}
.order-list tr td .Subtotal b,
.order-list tr td .price,
.order-list tr td .amount{font-size: 13px}
.order-list tr.cart_time,
.order-list tr.caet_Subtotal{height: 50px;}
.order-list tr.cart_time td{text-align: left}
.order-list tr.caet_Subtotal td{ text-align: right; color: #888888}
.order-list tr.caet_Subtotal td b{font-size:18px; color: #0cca1d}
/*****************************/
.footer-style .Subtotal{float: left;line-height: 60px; padding: 0 1rem; font-size: 1.5rem}
.footer-style .Subtotal b{font-size: 2.5rem}
.footer-style{ height: 60px; background: #ffffff; background: #ffffff; position: fixed; bottom: 0px; width: 100%; box-shadow: 0px 0px 6px #a2a2a2}
.footer-style .cart-btn{ opacity: 1; font-size: 2rem; float: right; line-height: 50px; background: #0cca1d; border-radius: 0px; height: 60px; text-align: center;  color: #ffffff}
.footer-style .return-btn{
	
	opacity: 1; font-size: 2rem; float: right;  line-height: 50px; background: rgba(155,155,155,1.00); border-radius: 0px; height: 60px; text-align: center;  color: #ffffff
}
/**************box style css*****************/
.box{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: justify;
    -ms-flex-align: center;
    justify-content: space-between;
    align-content: center
}
.box-flex{
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; 
	position: relative;
}
.box-flex2{
	-webkit-box-flex: 2;
    -moz-box-flex:2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2; 
	position: relative;
}
.box-flex3{
	-webkit-box-flex: 3;
    -moz-box-flex:3;
    -webkit-flex:3;
    -ms-flex:3;
    flex:3; 
	position: relative;
}
.box-flex4{
	-webkit-box-flex: 4;
    -moz-box-flex:4;
    -webkit-flex:4;
    -ms-flex:4;
    flex:4; 
	position: relative;
}
.box-flex5{
	-webkit-box-flex:5;
    -moz-box-flex:5;
    -webkit-flex:5;
    -ms-flex:5;
    flex:5; 
	position: relative;
}
.box-flex6{
	-webkit-box-flex:6;
    -moz-box-flex:6;
    -webkit-flex:6;
    -ms-flex:6;
    flex:6; 
	position: relative;
}
/*************************************************************/
@media(max-width:320px){
	.herder-style .herder-menu ul li .name{
            -webkit-transform: scale(0.90);
		width: 100%;
		 white-space:nowrap;
	}
	.ptb1{ padding: 0 0.5rem}
	.herder-style .herder-menu ul li a{font-size: 12px;}
	.card_text{font-size: 14px!important;padding:1rem 0.5rem}
	.card_paystyle .lable_name{font-size: 14px!important; height: 46px;}
	.card_paystyle select{font-size:14px!important;padding:1rem 0.5rem}
	.footer-style .Subtotal{font-size: 1rem}
	.footer-style .Subtotal b{font-size: 2rem}
	.detailed{ padding: 0.5rem}
	.Quantity .result{width:35px}
	.failed-style h3{font-size: 22px;}
	.failed-style h4{font-size: 16px;}
	.detailed .price{font-size: 14px;}
	.padding5{padding: 0.5rem}
	.order-list tr td .Subtotal b, .order-list tr td .price, .order-list tr td .amount{font-size: 13px;font-weight: normal }
	.product-xinxi .operating .price b{font-size:13px;}
	.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{font-weight: normal;border-top: 0px;vertical-align:middle; padding:5px 3px;}
	
}